 .iconsWrap span {
      display: inline-block;
      margin: 0 10px 10px;
      cursor: pointer;
      color: white;
  }
    
  .iconsWrap span:hover {
      display: inline-block;
      margin: 0 10px 10px;
      cursor: pointer;
      color: green;
  }
  
  
  .tableOfIng {
    margin-top: 15px;
    /* margin-left: 0px; */
    margin-bottom: 10px;
  }
  
  .valueInput {
    width: 100%;
    display: flex;
    align-items: center;  
  }

.tableOfIng table.table-dark {
  --bs-table-color: #ced4da;
    --bs-table-bg: #212529;
    --bs-table-border-color:  #ced4da;
    --bs-table-striped-bg: #292921;
    --bs-table-striped-color: #fff;
    --bs-table-active-bg: #373b3e;
    --bs-table-active-color: #fff;
    --bs-table-hover-bg: #323539;
    --bs-table-hover-color: #fff;
    color: var(--bs-table-color);
    border-color: var(--bs-table-border-color);
}

.tableOfIng table.table-dark th{
  font-weight: bold;
  border: 2px solid;
  color: #212529;
  background-color: #ced4da;
}

.empty-list-information {
  display: flex;
  justify-content: center;
  font-weight: bold;
  color: #292921;
  margin: 3%;
}

.loading-buttons {
  margin: 2% 0% 2% 0%;
  display: flex;
  justify-content: space-evenly;
}